/**Repeating**/

* {
  margin: 0 auto;
  font-family: "Goudy Bookletter 1911", serif;
}
header {
  background-image: url(My\ Post.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10%;
  margin: 0 auto;
  color: white;
}

header li {
  display: inline;
  justify-content: space-between;
  padding: 2% 1% 0 1%;
}
header a {
  text-decoration: none;
  color: white;
}

footer {
  padding: 10% 0 0% 10%;
  height: 50px;
}

footer h3 {
  color: white;
}

/**opening**/

main {
  line-height: 2;
}

body {
  background-image: url(background2.png);
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}

main h1,
h2,
h3,
h4 {
  color: hsl(10, 79%, 31%);
  font-family: "Courgette", cursive;
}

p {
  text-align: justify;
}

#opening {
  padding: 3%;
  margin: 0 10%;
}

#opening h3 {
  color: black;
}

/**Races**/
#TwoColumns {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 20vh;
}

#FirstColumn,
#DwarfSubrace {
  width: 35%;
  padding-bottom: 5%;
}

#FirstColumn {
  margin-left: 10%;
}

#DwarfSubrace {
  margin-right: 10%;
}

#Avariel,
#Arctic {
  padding-top: 3.5%;
  padding-bottom: 20vh;
}

.green {
  background-color: hsl(68, 40%, 82%);
}

table {
  margin-left: 0;
  width: 100%;
  font-family: "Goudy Bookletter 1911", serif;
}
thead {
  font-weight: bold;
}
td {
  padding-left: 5px;
}
